<!DOCTYPE html>
<html lang=en>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158214814-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158214814-1');
</script>
<meta charset=utf-8>
<title>CaRMS Carbon Calculator</title>
<meta name=description content="Calculating the Environmental Impact of the CaRMS Tour" />
<meta name=format-detection content="telephone=no" />
<meta name=author content="Kevin E Liang" />
<meta name=HandheldFriendly content=True />
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel=icon type=image/png href=images/favicon.ico />
<link rel=stylesheet href=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css integrity=sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T crossorigin=anonymous>
<link rel=stylesheet type=text/css href=styles/theme.css>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css>
<link rel=stylesheet type=text/css href=styles/results.css>
<link rel=stylesheet type=text/css href=styles/popup.css>
<link rel=stylesheet type=text/css href=styles/shameplane.css>
<link rel=stylesheet type=text/css href=styles/circlegraph.css>
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js></script>
<script src=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js integrity=sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM crossorigin=anonymous></script>
<script src=src/jquery-ui.js></script>
</head>
<body id=top itemtype=http://schema.org/WebPage>
<div class="row pop-up">
<div class=box>
<p>
<img id=ubclogo src=images/UBC.jpg alt="UBC logo" style=float:right;width:50px>Study Name: Assessing the Environmental Impact of the
<br>Canadian Medical Residency Interview Tour
<br>Consent Cover Letter</p>
<hr>
<h5 id=researcher-information>
Ethics ID# H20-00181 <br> <br>
Principal Investigator - <br>
Name: Dr. Simon Donner <br>
Affiliation: Department of Geography, University of British Columbia <br>
Email: simon.donner@ubc.ca <br>
Telephone Number: 604-822-6959 <br>
<br>
Co-Investigator - <br>
Name: Kevin Liang, B.Sc <br>
Affiliation: Faculty of Medicine, University of British Columbia <br>
Email: kevin.liang@alumni.ubc.ca <br>
Telephone Number: 1-514-775-3295 <br>
</h5>
<hr>
<h5 class=section-heading> Why are we doing this study? </h5>
<h6 class=section-information> You are invited to participate in a research study entitled “Assessing the Environmental Impact of the Canadian Medical Residency Interview Tour”. This study is being done by Dr. Simon Donner, a researcher from the Department of Geography, University of British Columbia (UBC), and Kevin Liang a fourth-year medical student from UBC. You are invited because of your participation in the first iteration of the 2019-2020 medical residency interview tour (commonly known as CaRMS©). </h6>
<h6 class=section-information> The purpose of this research study is to quantify CO2 emissions generated from air travel related to the interview tour. We believe this national survey of medical students will give us a better understanding of the environmental impact of this process. </h6>
<br>
<h5 class=section-heading> Who can participate in this study? </h5>
<h6 class=section-information> The study population comprises of graduating students from the 17 Canadian medical school who are taking part in the first iteration of the 2019-2020 residency interview tour. There is no exclusion criterion. </h6>
<br>
<h5 class=section-heading> What happens if you say “Yes, I want to be in the study”? </h5>
<h6 class=section-information> If you decide to participate in this study, you will be linked to an online survey lasting approximately 10 minutes that can be completed at a single timepoint. At the start of the survey, you will see a field to input the city where you started your residency interview tour. You can enter subsequent cities you travelled to. Please indicate whether you travelled to these cities by airplane using the drop-down menu. After completion, please click on the “Calculate My Emissions” button. The webpage will then guide you to a section that shows
<br>
<h6 style=margin-left:25px class=section-information> (1) The number of cities you visited during the process </h6>
<h6 style=margin-left:25px class=section-information> (2) The total distance travelled (reported in kms) </h6>
<h6 style=margin-left:25px class=section-information> (3) The total CO2 emitted (reported in tonnes of CO2e) </h6>
<h6 class=section-information> Our calculations assume that each trip is economy class. To calculate distance between individual departure city and destination city, we use the greater circle distance, which is the shortest distance between two points on a sphere. To calculate emissions, we use a conversion factor derived from the UK Department for Business, Energy and Industrial Strategy (BEIS) (Table 1). </h6> <span>
<table id=emission-data-table align=center style=color:dimgray;font-family:arial;font-size:12px;margin-left:20%;margin-top:20px>
<caption style=font-size:10px>Table 1: Emission (Kg CO2e) per passenger km, based on flight distance (BEIS) </caption>
<tr>
<th></th>
<th>Short-haul Flights <br> (<463 km)</th>
<th>Medium-haul Flights <br> (>463 km & <3700 km)</th>
<th>Long-haul Flights <br> (>3700 km) </th>
</tr>
<tr>
<td data-th="Movie Title">Economy Class Trips</td>
<td data-th=Genre>0.25493 kg CO2e</td>
<td data-th=Year>0.15573 kg CO2e/km</td>
<td data-th=Gross>0.14981 kg CO2e/km</td>
</tr>
</table>
<h6 class=section-information> After seeing these results, you will have the option of submitting your data through a survey platform hosted by Google Form, embedded on the website. You can enter the name of your medical school and the specialty(ies) that you applied to. Only when you hit the “submit” button will the following information be collected:
<h6 style=margin-left:25px class=section-information> 1. The cities you travelled to on your residency interview tour </h6>
<h6 style=margin-left:25px class=section-information> 2. Your medical school </h6>
<h6 style=margin-left:25px class=section-information> 3. The specialty(ies) you applied to </h6>
<h6 class=section-information> If you wish to withdraw from the study at any point while completing the survey, simply close your web browser, and your data will not be collected.</h6>
</h6><br>
<h5 class=section-heading> Will being in this research study help you in any way? </h5>
<h6 class=section-information> You may not directly benefit from this research; however, data collected from the study will allow us to understand the environmental impact of the residency tour. </h6>
<br>
<h5 class=section-heading>What are the possible risks or inconveniences of participating? </h5>
<h6 class=section-information> We believe there are minimal risks associated with this research study; however, a risk of breach of confidentiality always exists and we have taken the steps to minimize this risk as outlined in the section below entitled “How will your personal information be protected?”. </h6>
<h6 class=section-information>You are free to decline to answer any questions you do not wish to answer or stop participating at any time by closing your browser. If you close your browser before getting to the end of the survey or you do not click the ‘submit’ button at the end of the survey your information collected up to that point will not be collected nor used. </h6> <br>
<h5 class=section-heading>How will your personal information be protected? </h5>
<h6 class=section-information> To the best of our ability your answers in this study will remain confidential. Only your medical school, the cities you travelled to during the residency tour, and the speciality(ies) you applied to will be collecUted. This may be a limit to your confidentiality, as we believe that it is possible for participants to be identified non-directly. However, only the research investigators (Dr. Simon Donner and Kevin Liang) will have access to this information. </h6>
<br>
<h6 style=margin-left:50px class=section-heading>Data Management, Storage, and Destruction </h6>
<h6 style=margin-left:50px class=section-information> The data collected on you for this research project will be stored in an encrypted server hosted by Google Form, a third-party survey platform. The Google Form is attached only to the researchers’ UBC emails. These servers are located outside of Canada (United States and Europe). If you choose to participate in the survey, you understand that your responses to the survey questions may be stored and accessed in the USA. As a result, it is subject to U.S. laws, in particular, the US Patriot Act which allows authorities access to the records of internet service providers. The security and privacy policy for the web survey company can be found at the following link: <a href=https://policies.google.com/privacy>https://policies.google.com/privacy.</a></h6>
<h6 style=margin-left:50px class=section-information> The data stored through Google Form server is both password-protected and encrypted. To further protect the data, we will remove any direct personal information provided (e.g. Name, Date of Birth). Google Form employs multiple layers of security to make sure that data remains private and secure. This data is only accessible by team members Kevin Liang and Dr. Simon Donner and will only be accessed in Canada. The data will be stored for 5 years from the date of study completion (June 30th, 2020) and will be completely deleted from the drive subsequently by Kevin Liang. All Google Form accounts are protected by password-access, and Google employees do not have access the responses. All responses will be anonymous, Google Form does not have the option to collect your IP addresses. </h6> <br>
<h6 style=margin-left:50px class=section-heading> Future Use of Data </h6>
<h6 style=margin-left:50px class=section-information> Your responses will be used to estimate the total amount of carbon dioxide emitted by medical students participating in this interview process. Your data will not be used for further analysis at the conclusion of the study. </h6> <br>
<h6 style=margin-left:50px class=section-heading> Sharing of Study Results </h6>
<h6 style=margin-left:50px class=section-information> The results of this study will be reported in a research piece and may be published in journal articles and reports. All report findings will be anonymous and cannot be linked back to you. A summary of the study results will be provided to you upon request. Please see above for contact information. </h6> <br>
<h5 class=section-heading> Will You be Paid for Taking Part? </h5>
<h6 class=section-information> You will not be provided with any payments or coverage of costs for participating in this study. </h6> <br>
<h5 class=section-heading>Who Should You Contact if You Need More Information or Help? </h5>
<h6 class=section-information> The contact information for the Principal Investigator is provided in the first section of this letter. If you have any concerns or complaints about your rights as a research participant and/or your experiences while participating in this study, contact the Research Participant Complaint Line in the UBC Office of Research Ethics at 604-822-8598 or if long distance e-mail RSIL@ors.ubc.ca or call toll free 1-877-822-8598. </h6> <br>
<h5 class=section-heading> Project Funding or Conflict of Interest </h5>
<h6 class=section-information> None Declared </h6> <br>
<h5 class=section-heading> CONSENT </h5>
<h6 class=section-information> Participation in research is completely voluntary and you can withdraw your consent at any point up to clicking the “submit” button at the end of the survey. However, because the survey is anonymous, once you click the submit button at the end of the survey the researchers will not be able to determine which survey answers belong to you, so your information cannot be withdrawn after that point. </h6>
<h6 class=section-information> By clicking “I agree” below you are indicating that: </h6>
<h6 style=margin-left:25px class=section-information>1. All sections of this consent cover letter have been explained to your satisfaction</h6>
<h6 style=margin-left:25px class=section-information>2. All of your questions have been fully answered by the researchers </h6>
<h6 style=margin-left:25px class=section-information>3. You understand the requirements, risks, potential and responsibilities of participating in the research project </h6>
<h6 style=margin-left:25px class=section-information>4. You understand how your information will be accessed, collected and used </h6>
<h6 style=margin-left:25px class=section-information>5. By consenting to participate in this study, you do not waive your rights to legal recourse connected to research-related harm </h6>
<h6 class=section-information>By clicking “I Do Not Agree” you may still proceed to the site, but your data will not be collected even if you click the “submit” button at the end of the survey. You are free to skip any question that you choose. Please print a copy of this page for your records.</h6> <br>
<a href=# class=close-button id=agreeButton>I Agree</a>
<a href=# class=close-button id=disagreeButton>I Do Not Agree</a>
</div>
</div>
<div style=overflow:hidden id=overlay class="cover blur-in content">
<div id=introduction class=container>
<h1>What is the Environmental Impact of your CaRMS © Tour?</h1>
</div>
<div id=user-input>
<div id=app class="mileage mt-3">
<svg class=mileage-map ref=map viewBox="-130 -900 1260 1070">
<g class=mileage-map__states ref=provinces></g>
<g ref=airports>
<g class=airport :class="{ 'airport--current' : airport.current }" v-for="airport in airports">
<circle r=3 :cx=airport.x :cy=airport.y class=airport__marker />
<circle r=16 :cx=airport.x :cy=airport.y class=airport__range />
</g>
</g>
<path class=marker-connector :d=markerConnect()></path>
<g class=airplane ref=airplane>
<path class=airplane__icon d="M21 15.984l-8.016-2.484v5.484l2.016 1.5v1.5l-3.516-0.984-3.469 0.984v-1.5l1.969-1.5v-5.484l-7.969 2.484v-1.969l7.969-5.016v-5.484c0-0.844 0.656-1.5 1.5-1.5s1.5 0.656 1.5 1.5v5.484l8.016 5.016v1.969z" transform="translate(-8,-15) scale(1.2)"></path>
</g>
<g v-for="marker in markers" @mousedown=markerSet($event,marker) class=marker :class="{ 'marker--current' : marker.current }" :transform="'translate('+marker.x+','+marker.y+')'">
<path fill={{marker.fill}} d="M0 0l28.592-28.592c15.78-15.78 15.908-41.24.128-57.02a40.424 40.424 0 0 0-57.124 57.2z"></path>
<transition name=marker-fade>
<text v-if=marker.airport x=0 y=-42 text-anchor=middle v-text=marker.airport.LocationID></text>
</transition>
</g>
</svg>
</div>
<form method=post action id=sort-it onsubmit="return false">
<h2 class="control-label mb-5" for=autocomplete>
I'm starting my CaRMS © Tour from
</h2>
<div class=form-group>
<input id=autocomplete class="form-control form-control-lg" type=text name=dep-city placeholder="City or Airport Name ..." autocomplete=off autofocus />
</div>
<div class=form-group id=journeytype style=display:none>
<input type=radio name=journeytype value=1 id=flying checked />
<label for=flying>By Flying</label>
<input type=radio name=journeytype value=0 id=other />
<label for=other>By Not Flying</label>
</div>
<ul id=incomplete-tasks class="mt-5 d-none"></ul>
<div class=clearfix></div>
<button type=button class="btn btn-primary btn-sm" id=addbutton>Add</button>
<div id=calculateButtons>
<button type=submit class="btn btn-primary mt-4 btn-lg mb-4" id=calculate style=display:none>Calculate My Emission</button>
</div>
</form>
</div>
<div class=clearfix></div>
<div id=emission-data style=display:none>
<div class=p-5>
<div id=infographic>
<h1>Total Emission Calculations</h1>
<h8 style=font-size:15px>Source: Estimates based on economy class seats </h8>
<div class=row>
<div class=col-sm>
<h1 class="mileage__calculations mt-5" id=numberofcities>
<span id=totalCities data-city></span><small style=font-size:20px> Cities Visited</small>
</h1>
</div>
<div class=col-sm>
<h1 class="mileage__calculations mt-5" id=distancebetween>
<span id=totalDistance data-distance></span>
<small style=font-size:20px> Km Travelled</small>
</h1>
</div>
<div class=col-sm>
<h1 class="mileage__calculations mt-5" id=co2emission>
<span id=totalEmission data-emission></span>
<small style=font-size:20px> Kg CO2 Emitted</small>
</h1>
</div>
</div>
<hr style="border-color:white;">
<div id=container>
<div class=row id=circulargraph>
<div class="col-md-5 col-sm-12">
<div class=graph>
<div class="percent-circle pc1" data-percent=0>
<svg>
<use class=percent-circle-inner xlink:href=#percent-circle-svg></use>
</svg>
</div>
</div>
</div>

<div class="col-md-7 col-sm-12">
<div class="textStyle textBox textLeft mb-5" style=margin-top:110px;color:white> of the <span class=callout>average yearly </span> Canadian Household Emissions per capita (2017)<sup style="font-size: smaller;">1</sup></div>
</div>
</div>
<svg class=hidden>
<circle id=percent-circle-svg cx=50% cy=50% r=50% stroke-alignment=inner></circle>
</svg>
<hr style="border-color:white;">
<div class=row>
<div class="col-md-4 col-sm-12" style="margin:0 auto">
<h3 style=font-size:25px>In order to offset <span style="color:#fa282c">your carbon emissions </span> you would need to make the following lifestyle changes for <span style="text-decoration: underline;">1 year: </span><sup style="font-size: smaller;">2</sup><h5>(click the checkboxes)</h5></h3>
</div>
<section class="col-md-8 col-sm-12">
<div class=big-graph>
<div class=big-graph-opt id=legend-graph>
<div class=column>
<div class=checkbox>
<input id=opt1 type=checkbox value=0.9>
<label for=opt1><span></span>Go vegetarian</label>
</div>
<div class=checkbox>
<input id=opt2 type=checkbox value=0.21>
<label for=opt2><span></span>Recycle</label>
</div>
<div class="checkbox zero">
<input id=opt5 type=checkbox value=0.37>
<label for=opt5><span></span>Reduce your food waste to 0</label>
</div>
<div class=checkbox>
<input id=opt7 type=checkbox value=0.36>
<label for=opt7><span></span>Eat local food only</label>
</div>
<div class=checkbox>
<input id=opt4 type=checkbox value=1.33>
<label for=opt4><span></span>Live car free (30km/day)</label>
</div>
</div>
</div>
<div class=big-bars>
<div class=comp-bar>
<div class=opt-bar id=opt1-bar class>
<div>- 0.9 tCO₂e</div>
</div>
<div class=opt-bar id=opt2-bar class>
<div>- 0.21 tCO₂e</div>
</div>
<div class=opt-bar id=opt5-bar class>
<div>- 0.37 tCO₂e</div>
</div>
<div class=opt-bar id=opt7-bar class>
<div>- 0.36 tCO₂e</div>
</div>
<div class=opt-bar id=opt4-bar class>
<div>- 1.33 tCO₂e</div>
</div>
</div>
<div id=coBarThree class="plane-bar color-white">
<div>+ <span class=co></span> tCO₂e (YOUR EMISSIONS)</div>
</div>
</div>
</div>
</section>
</div>
</div>
<div class="container mt-4" style=background-color:#2b5277>
<h4 style=margin:10px;padding-top:30px>Please help us understand the cost of the entire CaRMS© tour</h4>
<script>var submitted=false;</script>
<iframe name=hidden_iframe id=hidden_iframe style=display:none onload=if(submitted){animateThankYouMessage();}></iframe>
<form class="form mt-5" action=https://docs.google.com/forms/u/0/d/e/1FAIpQLSejY5ykx9XWxh_UxnaaAFWOpVQJP2Q2bwVNcnINXDnpMMKXRg/formResponse target=hidden_iframe onsubmit="submitted=true">
<div class=form-group>
<label>I study at:</label>
<input id=schooloforigin name=entry.735375071 size=35 type=text placeholder="  Please enter name of medical school " />
<br>
<br>
<br>
<label>I am applying to:</label>
<input id=specialties name=entry.1179383716 size=35 placeholder="  Please enter the specialty(ies) you applied to" type=text />
<br>
<br>
<input id=city0 name=entry.599602472 style=display:none type=text />
<input id=city1 name=entry.589350821 style=display:none type=text />
<input id=city2 name=entry.1150841774 style=display:none type=text />
<input id=city3 name=entry.1124877950 style=display:none type=text />
<input id=city4 name=entry.122035344 style=display:none type=text />
<input id=city5 name=entry.550683007 style=display:none type=text />
<input id=city6 name=entry.1732348661 style=display:none type=text />
<input id=city7 name=entry.710850222 style=display:none type=text />
<input id=city8 name=entry.1715087234 style=display:none type=text />
<input id=city9 name=entry.1946291462 style=display:none type=text />
<input id=city10 name=entry.386767754 style=display:none type=text />
<input id=city11 name=entry.251875721 style=display:none type=text />
<input id=city12 name=entry.757240061 style=display:none type=text />
<input id=city13 name=entry.1337219740 style=display:none type=text />
<input id=city14 name=entry.417269170 style=display:none type=text />
<input id=city15 name=entry.852167020 style=display:none type=text />
<input id=city16 name=entry.493625509 style=display:none type=text />
<input id=city17 name=entry.1446717457 style=display:none type=text />
<input id=city18 name=entry.802516056 style=display:none type=text />
<input id=city19 name=entry.1117702907 style=display:none type=text />
<input id=city20 name=entry.103858432 style=display:none type=text />
<input id=city21 name=entry.469194213 style=display:none type=text />
<input id=city22 name=entry.806626741 style=display:none type=text />
<input id=city23 name=entry.741291110 style=display:none type=text />
<input id=city24 name=entry.333075389 style=display:none type=text />
<input id=city25 name=entry.1248216763 style=display:none type=text />
<input id=city26 name=entry.1305126104 style=display:none type=text />
<input id=city27 name=entry.330434047 style=display:none type=text />
<input id=city28 name=entry.518662113 style=display:none type=text />
<input id=city29 name=entry.324442649 style=display:none type=text />
</div>
<h6 style=font-size:15px;text-align:left;margin-top:2%> Please note, because the survey is anonymous, once you click the submit button at the end of the survey the researchers will not be able to determine which survey answers belong to you, so your information cannot be withdrawn after that point.
Your information only will only be collected if you selected the “I agree” button at the consent cover letter. </h6>
<input type=submit value=Submit />
<p style="font-size:10px;color:white;text-align:left">1. National Energy Board. “Provincial and Territorial Energy Profiles – Canada.” NEB - Provincial and Territorial Energy Profiles - Canada, 28 Aug. 2019, www.cer-rec.gc.ca/nrg/ntgrtd/mrkt/nrgsstmprfls/cda-eng.html.</p>
<p style="font-size:10px;color:white;text-align:left">2. Wynes, Seth, and Kimberly A Nicholas. “The Climate Mitigation Gap: Education and Government Recommendations Miss the Most Effective Individual Actions.” Environmental Research Letters, vol. 12, no. 7, 2017, p. 074024., doi:10.1088/1748-9326/aa7541.</p>
</form>
</div>
<div id=thankyou class=container style=display:none;background-color:green;margin-bottom:10px>
<h1>Thank you!</h1>
</div>
</div>
</div>
</div>
<script src=src/shameplane.js></script>
<script src=src/airports.js></script>
<script>
function drawCharts(){document.querySelectorAll(".percent-circle").forEach(function(e){var r=map.emission/3910,t=100*r;$(".percent-circle").attr("data-percent",t.toFixed(1).toString());var c=e.offsetWidth,a=Math.ceil(c*Math.PI);if(r<100)var i=Math.ceil(a*r);else i=a;var n=a-i;e.querySelector(".percent-circle-inner").style.strokeDasharray=i+"px "+n+"px"})}
</script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js></script>
<script src=https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js></script>
<script>
function animateValue(e,t,a,n){if(e){var o=e.innerHTML;console.log(a);var r=a,i=Math.abs(Math.floor(n/r));i=Math.max(i,50);var c,l=(new Date).getTime()+n;function m(){var t=(new Date).getTime(),i=Math.max((l-t)/n,0),m=Math.round(a-i*r);e.innerHTML=o.replace(/([0-9]+)/g,m),m==a&&clearInterval(c)}c=setInterval(m,i),m()}}var objectEmission=document.querySelector("#totalEmission"),objectDistance=document.querySelector("#totalDistance"),objectCity=document.querySelector("#totalCities");    
</script>
<script src=src/todo.js></script>
<script>
var str=document.querySelector("#distancebetween").innerText,res=Number(str.replace(/\D/g,"")),adjusteddistance=1.609344*res;

</script>
<script src=src/map.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.min.js></script>
<script src=https://unpkg.com/fuse.js@2.5.0/src/fuse.min.js></script>
<script src=src/autocomplete.js></script>
<script src=https://animejs.com/lib/anime.min.js></script>
<script>
function handle_click(e){setTimeout(continue_clicked,100)}function continue_clicked(){hide_trans_summary.play()}document.querySelector("#addbutton").addEventListener("mouseup",handle_click);var hide_trans_summary=anime({opacity:"0",easing:"easeInOutSine",duration:500,begin:function(){},autoplay:!1,complete:function(){translate_button.play()}}),translate_button=anime({targets:document.querySelector("#incomplete-tasks"),translateY:["0","0"],translateX:["0","0"],scale:1,duation:500,autoplay:!1,easing:"easeOutExpo",complete:function(){}});    
</script>
<script src=src/infographic.js></script>
<script>
$(function(){$(".pop-up").hide(),$(".pop-up").fadeIn(1e3),$(".close-button").click(function(o){$(".pop-up").fadeOut(700),$("#overlay").removeClass("blur-in"),$("#overlay").addClass("blur-out"),$("#autocomplete").focus(),o.stopPropagation()})});
</script>
</body>
</html>